USE [ProyectoHotel]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[identificacion] [varchar](25) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[apellido1] [nvarchar](80) NOT NULL,
	[apellido2] [nvarchar](80) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[tipo_identificacion] [nvarchar](30) NOT NULL,
	[pais_residencia] [nvarchar](80) NOT NULL,
	[correo_electronico] [varchar](254) NOT NULL,
	[id_direccion] [int] NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CLIENTE_correo] UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_TELEFONO]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_TELEFONO](
	[id_telefono] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [varchar](25) NOT NULL,
	[telefono] [varchar](25) NOT NULL,
 CONSTRAINT [PK_CLIENTE_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[id_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMODIDAD]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMODIDAD](
	[id_comodidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_comodidad] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_COMODIDAD] PRIMARY KEY CLUSTERED 
(
	[id_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_COMODIDAD_nombre] UNIQUE NONCLUSTERED 
(
	[nombre_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIRECCION]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIRECCION](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [nvarchar](60) NOT NULL,
	[canton] [nvarchar](60) NOT NULL,
	[distrito] [nvarchar](60) NOT NULL,
	[barrio] [nvarchar](60) NULL,
	[senas_exactas] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_DIRECCION] PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA_RECREATIVA]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA_RECREATIVA](
	[cedula_juridica_empresa] [varchar](25) NOT NULL,
	[nombre_empresa] [nvarchar](120) NOT NULL,
	[correo_electronico] [varchar](254) NOT NULL,
	[telefono_principal] [varchar](25) NULL,
	[nombre_contacto] [nvarchar](120) NOT NULL,
	[servicios_que_brinda] [nvarchar](600) NULL,
	[descripcion_actividad] [nvarchar](600) NOT NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[id_direccion] [int] NOT NULL,
 CONSTRAINT [PK_EMPRESA_RECREATIVA] PRIMARY KEY CLUSTERED 
(
	[cedula_juridica_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EMPRESA_RECREATIVA_correo] UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA_RECREATIVA_TELEFONO]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA_RECREATIVA_TELEFONO](
	[id_telefono] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica_empresa] [varchar](25) NOT NULL,
	[telefono] [varchar](25) NOT NULL,
 CONSTRAINT [PK_EMPRESA_RECREATIVA_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[id_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD](
	[cedula_juridica_empresa] [varchar](25) NOT NULL,
	[id_tipo_actividad] [int] NOT NULL,
 CONSTRAINT [PK_EMPRESA_RECREATIVA_TIPO_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[cedula_juridica_empresa] ASC,
	[id_tipo_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_reservacion] [int] NOT NULL,
	[fecha_hora_registro] [datetime2](0) NOT NULL,
	[noches] [int] NOT NULL,
	[monto_total] [decimal](12, 2) NOT NULL,
	[metodo_pago] [nvarchar](20) NULL,
	[estado_factura] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_FACTURA] PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOTO_TIPOHABITACION]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOTO_TIPOHABITACION](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_habitacion] [int] NOT NULL,
	[url_foto] [varchar](500) NOT NULL,
 CONSTRAINT [PK_FOTO_TIPOHABITACION] PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HABITACION]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HABITACION](
	[id_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[numero] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](10) NOT NULL,
	[cedula_juridica] [varchar](25) NOT NULL,
	[id_tipo_habitacion] [int] NOT NULL,
 CONSTRAINT [PK_HABITACION] PRIMARY KEY CLUSTERED 
(
	[id_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HABITACION_unica] UNIQUE NONCLUSTERED 
(
	[cedula_juridica] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPEDAJE]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPEDAJE](
	[cedula_juridica] [varchar](25) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[tipo_hospedaje] [nvarchar](40) NOT NULL,
	[correo_electronico] [varchar](254) NOT NULL,
	[url_sitio_web] [varchar](500) NULL,
	[referencia_gps] [varchar](120) NULL,
	[id_direccion] [int] NOT NULL,
 CONSTRAINT [PK_HOSPEDAJE] PRIMARY KEY CLUSTERED 
(
	[cedula_juridica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_HOSPEDAJE_correo] UNIQUE NONCLUSTERED 
(
	[correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPEDAJE_REDSOCIAL]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPEDAJE_REDSOCIAL](
	[id_redsocial] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica] [varchar](25) NOT NULL,
	[plataforma] [nvarchar](40) NOT NULL,
	[url] [varchar](500) NOT NULL,
 CONSTRAINT [PK_HOSPEDAJE_REDSOCIAL] PRIMARY KEY CLUSTERED 
(
	[id_redsocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPEDAJE_SERVICIO]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPEDAJE_SERVICIO](
	[cedula_juridica] [varchar](25) NOT NULL,
	[id_servicio] [int] NOT NULL,
 CONSTRAINT [PK_HOSPEDAJE_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[cedula_juridica] ASC,
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPEDAJE_TELEFONO]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPEDAJE_TELEFONO](
	[id_telefono] [int] IDENTITY(1,1) NOT NULL,
	[cedula_juridica] [varchar](25) NOT NULL,
	[telefono] [varchar](25) NOT NULL,
 CONSTRAINT [PK_HOSPEDAJE_TELEFONO] PRIMARY KEY CLUSTERED 
(
	[id_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVACION]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVACION](
	[id_reservacion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora_ingreso] [datetime2](0) NOT NULL,
	[fecha_salida] [datetime2](0) NOT NULL,
	[cantidad_personas] [int] NOT NULL,
	[posee_vehiculo] [bit] NOT NULL,
	[identificacion_cliente] [varchar](25) NOT NULL,
	[id_habitacion] [int] NOT NULL,
	[estado_reserva] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_RESERVACION] PRIMARY KEY CLUSTERED 
(
	[id_reservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICIO]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICIO](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre_servicio] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_SERVICIO] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SERVICIO_nombre] UNIQUE NONCLUSTERED 
(
	[nombre_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ACTIVIDAD]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ACTIVIDAD](
	[id_tipo_actividad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_TIPO_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[id_tipo_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TIPO_ACTIVIDAD_nombre] UNIQUE NONCLUSTERED 
(
	[nombre_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_HABITACION]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_HABITACION](
	[id_tipo_habitacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[tipo_cama] [nvarchar](20) NOT NULL,
	[precio] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_TIPO_HABITACION] PRIMARY KEY CLUSTERED 
(
	[id_tipo_habitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TIPO_HABITACION_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_HABITACION_COMODIDAD]    Script Date: 31/1/2026 14:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_HABITACION_COMODIDAD](
	[id_tipo_habitacion] [int] NOT NULL,
	[id_comodidad] [int] NOT NULL,
 CONSTRAINT [PK_TIPO_HABITACION_COMODIDAD] PRIMARY KEY CLUSTERED 
(
	[id_tipo_habitacion] ASC,
	[id_comodidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACTURA] ADD  CONSTRAINT [DF_FACTURA_fecha]  DEFAULT (sysdatetime()) FOR [fecha_hora_registro]
GO
ALTER TABLE [dbo].[FACTURA] ADD  CONSTRAINT [DF_FACTURA_estado]  DEFAULT (N'PENDIENTE_PAGO') FOR [estado_factura]
GO
ALTER TABLE [dbo].[RESERVACION] ADD  CONSTRAINT [DF_RESERVACION_estado]  DEFAULT (N'ACTIVO') FOR [estado_reserva]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_DIRECCION] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[DIRECCION] ([id_direccion])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_DIRECCION]
GO
ALTER TABLE [dbo].[CLIENTE_TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TELEFONO_CLIENTE] FOREIGN KEY([identificacion])
REFERENCES [dbo].[CLIENTE] ([identificacion])
GO
ALTER TABLE [dbo].[CLIENTE_TELEFONO] CHECK CONSTRAINT [FK_CLIENTE_TELEFONO_CLIENTE]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_RECREATIVA_DIRECCION] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[DIRECCION] ([id_direccion])
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA] CHECK CONSTRAINT [FK_EMPRESA_RECREATIVA_DIRECCION]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_RECREATIVA_TELEFONO_EMPRESA] FOREIGN KEY([cedula_juridica_empresa])
REFERENCES [dbo].[EMPRESA_RECREATIVA] ([cedula_juridica_empresa])
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TELEFONO] CHECK CONSTRAINT [FK_EMPRESA_RECREATIVA_TELEFONO_EMPRESA]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_ERT_EMPRESA] FOREIGN KEY([cedula_juridica_empresa])
REFERENCES [dbo].[EMPRESA_RECREATIVA] ([cedula_juridica_empresa])
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD] CHECK CONSTRAINT [FK_ERT_EMPRESA]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD]  WITH CHECK ADD  CONSTRAINT [FK_ERT_TIPO] FOREIGN KEY([id_tipo_actividad])
REFERENCES [dbo].[TIPO_ACTIVIDAD] ([id_tipo_actividad])
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TIPO_ACTIVIDAD] CHECK CONSTRAINT [FK_ERT_TIPO]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_RESERVACION] FOREIGN KEY([id_reservacion])
REFERENCES [dbo].[RESERVACION] ([id_reservacion])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [FK_FACTURA_RESERVACION]
GO
ALTER TABLE [dbo].[FOTO_TIPOHABITACION]  WITH CHECK ADD  CONSTRAINT [FK_FOTO_TIPOHABITACION_TIPO] FOREIGN KEY([id_tipo_habitacion])
REFERENCES [dbo].[TIPO_HABITACION] ([id_tipo_habitacion])
GO
ALTER TABLE [dbo].[FOTO_TIPOHABITACION] CHECK CONSTRAINT [FK_FOTO_TIPOHABITACION_TIPO]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_HOSPEDAJE] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[HOSPEDAJE] ([cedula_juridica])
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [FK_HABITACION_HOSPEDAJE]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [FK_HABITACION_TIPO] FOREIGN KEY([id_tipo_habitacion])
REFERENCES [dbo].[TIPO_HABITACION] ([id_tipo_habitacion])
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [FK_HABITACION_TIPO]
GO
ALTER TABLE [dbo].[HOSPEDAJE]  WITH CHECK ADD  CONSTRAINT [FK_HOSPEDAJE_DIRECCION] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[DIRECCION] ([id_direccion])
GO
ALTER TABLE [dbo].[HOSPEDAJE] CHECK CONSTRAINT [FK_HOSPEDAJE_DIRECCION]
GO
ALTER TABLE [dbo].[HOSPEDAJE_REDSOCIAL]  WITH CHECK ADD  CONSTRAINT [FK_HOSPEDAJE_REDSOCIAL_HOSPEDAJE] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[HOSPEDAJE] ([cedula_juridica])
GO
ALTER TABLE [dbo].[HOSPEDAJE_REDSOCIAL] CHECK CONSTRAINT [FK_HOSPEDAJE_REDSOCIAL_HOSPEDAJE]
GO
ALTER TABLE [dbo].[HOSPEDAJE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_HOSPEDAJE_SERVICIO_HOSPEDAJE] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[HOSPEDAJE] ([cedula_juridica])
GO
ALTER TABLE [dbo].[HOSPEDAJE_SERVICIO] CHECK CONSTRAINT [FK_HOSPEDAJE_SERVICIO_HOSPEDAJE]
GO
ALTER TABLE [dbo].[HOSPEDAJE_SERVICIO]  WITH CHECK ADD  CONSTRAINT [FK_HOSPEDAJE_SERVICIO_SERVICIO] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[SERVICIO] ([id_servicio])
GO
ALTER TABLE [dbo].[HOSPEDAJE_SERVICIO] CHECK CONSTRAINT [FK_HOSPEDAJE_SERVICIO_SERVICIO]
GO
ALTER TABLE [dbo].[HOSPEDAJE_TELEFONO]  WITH CHECK ADD  CONSTRAINT [FK_HOSPEDAJE_TELEFONO_HOSPEDAJE] FOREIGN KEY([cedula_juridica])
REFERENCES [dbo].[HOSPEDAJE] ([cedula_juridica])
GO
ALTER TABLE [dbo].[HOSPEDAJE_TELEFONO] CHECK CONSTRAINT [FK_HOSPEDAJE_TELEFONO_HOSPEDAJE]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_CLIENTE] FOREIGN KEY([identificacion_cliente])
REFERENCES [dbo].[CLIENTE] ([identificacion])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_CLIENTE]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [FK_RESERVACION_HABITACION] FOREIGN KEY([id_habitacion])
REFERENCES [dbo].[HABITACION] ([id_habitacion])
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [FK_RESERVACION_HABITACION]
GO
ALTER TABLE [dbo].[TIPO_HABITACION_COMODIDAD]  WITH CHECK ADD  CONSTRAINT [FK_THC_COMODIDAD] FOREIGN KEY([id_comodidad])
REFERENCES [dbo].[COMODIDAD] ([id_comodidad])
GO
ALTER TABLE [dbo].[TIPO_HABITACION_COMODIDAD] CHECK CONSTRAINT [FK_THC_COMODIDAD]
GO
ALTER TABLE [dbo].[TIPO_HABITACION_COMODIDAD]  WITH CHECK ADD  CONSTRAINT [FK_THC_TIPO] FOREIGN KEY([id_tipo_habitacion])
REFERENCES [dbo].[TIPO_HABITACION] ([id_tipo_habitacion])
GO
ALTER TABLE [dbo].[TIPO_HABITACION_COMODIDAD] CHECK CONSTRAINT [FK_THC_TIPO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CK_CLIENTE_fecha] CHECK  (([fecha_nacimiento]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CK_CLIENTE_fecha]
GO
ALTER TABLE [dbo].[CLIENTE_TELEFONO]  WITH CHECK ADD  CONSTRAINT [CK_CLIENTE_TELEFONO_formato] CHECK  ((len([telefono])>=(8)))
GO
ALTER TABLE [dbo].[CLIENTE_TELEFONO] CHECK CONSTRAINT [CK_CLIENTE_TELEFONO_formato]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA]  WITH CHECK ADD  CONSTRAINT [CK_EMPRESA_RECREATIVA_precio] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA] CHECK CONSTRAINT [CK_EMPRESA_RECREATIVA_precio]
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TELEFONO]  WITH CHECK ADD  CONSTRAINT [CK_EMPRESA_RECREATIVA_TELEFONO_formato] CHECK  ((len([telefono])>=(8)))
GO
ALTER TABLE [dbo].[EMPRESA_RECREATIVA_TELEFONO] CHECK CONSTRAINT [CK_EMPRESA_RECREATIVA_TELEFONO_formato]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [CK_FACTURA_estado] CHECK  (([estado_factura]=N'PAGADA' OR [estado_factura]=N'PENDIENTE_PAGO'))
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [CK_FACTURA_estado]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [CK_FACTURA_metodo] CHECK  (([metodo_pago] IS NULL OR ([metodo_pago]=N'Tarjeta' OR [metodo_pago]=N'Efectivo')))
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [CK_FACTURA_metodo]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [CK_FACTURA_monto] CHECK  (([monto_total]>(0)))
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [CK_FACTURA_monto]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [CK_FACTURA_noches] CHECK  (([noches]>(0)))
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [CK_FACTURA_noches]
GO
ALTER TABLE [dbo].[HABITACION]  WITH CHECK ADD  CONSTRAINT [CK_HABITACION_estado] CHECK  (([estado]=N'Inactivo' OR [estado]=N'Activo'))
GO
ALTER TABLE [dbo].[HABITACION] CHECK CONSTRAINT [CK_HABITACION_estado]
GO
ALTER TABLE [dbo].[HOSPEDAJE]  WITH CHECK ADD  CONSTRAINT [CK_HOSPEDAJE_tipo] CHECK  (([tipo_hospedaje]=N'Cabaña' OR [tipo_hospedaje]=N'Cuarto compartido' OR [tipo_hospedaje]=N'Departamento' OR [tipo_hospedaje]=N'Casa' OR [tipo_hospedaje]=N'Hostal' OR [tipo_hospedaje]=N'Hotel'))
GO
ALTER TABLE [dbo].[HOSPEDAJE] CHECK CONSTRAINT [CK_HOSPEDAJE_tipo]
GO
ALTER TABLE [dbo].[HOSPEDAJE_REDSOCIAL]  WITH CHECK ADD  CONSTRAINT [CK_HOSPEDAJE_REDSOCIAL_plataforma] CHECK  (([plataforma]=N'X' OR [plataforma]=N'Threads' OR [plataforma]=N'Airbnb' OR [plataforma]=N'TikTok' OR [plataforma]=N'YouTube' OR [plataforma]=N'Instagram' OR [plataforma]=N'Facebook'))
GO
ALTER TABLE [dbo].[HOSPEDAJE_REDSOCIAL] CHECK CONSTRAINT [CK_HOSPEDAJE_REDSOCIAL_plataforma]
GO
ALTER TABLE [dbo].[HOSPEDAJE_TELEFONO]  WITH CHECK ADD  CONSTRAINT [CK_HOSPEDAJE_TELEFONO_formato] CHECK  ((len([telefono])>=(8)))
GO
ALTER TABLE [dbo].[HOSPEDAJE_TELEFONO] CHECK CONSTRAINT [CK_HOSPEDAJE_TELEFONO_formato]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [CK_RESERVACION_estado] CHECK  (([estado_reserva]=N'CERRADO' OR [estado_reserva]=N'ACTIVO'))
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [CK_RESERVACION_estado]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [CK_RESERVACION_fechas] CHECK  (([fecha_salida]>[fecha_hora_ingreso]))
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [CK_RESERVACION_fechas]
GO
ALTER TABLE [dbo].[RESERVACION]  WITH CHECK ADD  CONSTRAINT [CK_RESERVACION_personas] CHECK  (([cantidad_personas]>(0)))
GO
ALTER TABLE [dbo].[RESERVACION] CHECK CONSTRAINT [CK_RESERVACION_personas]
GO
ALTER TABLE [dbo].[TIPO_HABITACION]  WITH CHECK ADD  CONSTRAINT [CK_TIPO_HABITACION_cama] CHECK  (([tipo_cama]=N'King' OR [tipo_cama]=N'Queen' OR [tipo_cama]=N'Individual'))
GO
ALTER TABLE [dbo].[TIPO_HABITACION] CHECK CONSTRAINT [CK_TIPO_HABITACION_cama]
GO
ALTER TABLE [dbo].[TIPO_HABITACION]  WITH CHECK ADD  CONSTRAINT [CK_TIPO_HABITACION_precio] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[TIPO_HABITACION] CHECK CONSTRAINT [CK_TIPO_HABITACION_precio]
GO
